---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Hi, I'm Thomas! I work at <a href="https://lickability.com" target="_blank" class="text-blue-400 hover:underline">Lickability</a>, 
        designing and developing amazing apps for creative companies.
      </p>
    </div>
    <div class="text-sm font-light">
      <p class="font-bold">Education</p>
      <ul class="list-disc list-inside">
        <li>NJIT – M.S. Engineering Management</li>
        <li>NJIT – B.S. Mechanical Engineering</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      When I'm not working, you'll find me on the golf course ⛳️ or being the life of the party 🥳
    </p>
  </div>
</Card>
