---
import Card from "./Card/index.astro";
import { LINKS } from "../lib/constants";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2" href={LINKS.lickability} title="Work">
  <p class="text-sm font-light">
    I lead client partnerships at <strong>Lickability</strong>, helping teams scope and launch thoughtful mobile app projects. 
I focus on discovery, strategy, and sales, setting our design and engineering team up to deliver great work.
  </p>
</Card>
